* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
font-family: "Roboto", sans-serif;
.bolder {
  font-weight: bolder;
}

.cent-flx {
  justify-content: center;

  display: flex;
}
.sing{
  margin-bottom: 15px;
}

h1 {
  font-size: 65px;
  font-weight: bolder;
}

.debug {
  * {
    border: 1px solid black;
  }
}
.container {
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
#header-nav {
  background-color: #b4d0e6;
  min-height: 300px;
}

.bg-nav-bar {
  background-color: #ffffff;
}
.nav-bar {
  justify-content: space-between;
}
.nav-bar-left {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 0;
  font-size: 16px;
}
.function-rg {
  align-items: center;
  font-size: 14px;
}
.function-left {
  align-items: center;
  font-size: 14px;
}

.nav-bar-logo {
  padding: 10px;
  margin-right: 15px;
}

.nav-bar-function-lf {
  padding: 10px;
  margin-inline: 10px;
}

.office {
  padding: 10px;
  margin-inline: 10px;
}

.logg {
  padding: 5px;
  cursor: pointer;
}

.nav-bar-button {
  padding: 2px;
  background-color: blue;
  color: white;
  margin-right: 15px;
  margin-left: 5px;
}

/* jumbatron */

.jumbotron {
  padding: 2rem 0;
  flex-wrap: wrap;
  position: relative;
}

.container-sml {
  max-width: 900px;
  width: 65%;
  margin: 0 auto;
}

[class^="col"] {
  padding: 1rem;
}

.col {
  padding: 1rem;
  width: 33%;
}

.col-2 {
  width: calc(100 / 12 * 2);
  margin: 0;

  width: 27%;
}
.col-1 {
  width: calc(100 / 1);
  font-size: 16px;
}

.col-3 {
  width: 100%;
  justify-content: center;
  position: relative;
}

.img-jumb {
  position: absolute;
  margin-top: -128px;
  margin-right: -879px;
}

.img-abs-jumb {
  width: 600px;
}

.unscr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bott-promo {
  margin-top: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.text-prom {
  margin-top: -37px;
  font-weight: bold;
}

.arrow-down {
  margin: 0;
  position: absolute;
  font-size: 20px;
  margin-top: 375px;
}

/* main */
h2 {
  margin-top: 120px;
  font-size: 36px;
}
.content-main {
  flex-direction: column;
}

.row-main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}

.fatturazione {
  margin-top: 35px;
}

.mensile {
  margin-right: 50px;
}

.ring-blu {
  border: 3px solid blue;
  border-radius: 100%;
  width: 15px;
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
  height: 15px;
}

.ring-light {
  border: 2px solid lightgrey;
  border-radius: 100%;
  width: 15px;
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
  height: 15px;
}
.card-piano-left {
  width: 33%;
}
.card-piano-center {
  margin-inline: 10px;
  border: 1px solid lightgray;
}

.butt-free {
  background-color: blue;
  width: 28%;
  color: white;
  background-color: blue;
  width: 80%;
  margin-left: 10%;
}

.salient-point {
  margin-left: 15px;
 
}

.ceck-free-a {
  p
}

.ceck-free-a {
  
}
